// Định dạng cho dropdown
.dropdown {
    &-container {
        padding: 10px;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 100;
        display: block;
        background-color: $White;
        border-radius: 8px;
        box-shadow: $Shadow;
    }
    
    &-container.hidden {
        display: none;
    }

    &-content {
        width: auto;
    }

    &-link {
        display: block;
        padding: 8px 16px;
        text-decoration: none;
        @include font($text-base, $font-semibold);
        color: $Text;
    
        &:hover {
            background-color: $Purple-10;
        }
    }

    &-trigger {
        position: relative;
    }
}