// color
$Purple: #4d44b5;
$Orange: #fb7d5b;
$Yellow: #fcc43e;
$Text: #303972;
$Green: #4cbc9a;
$Red: #ff4550;
$Background: #f3f4ff;
$White: #fff;
$Gray: #f5f5f5;
$Gray-1: #a098ae;
$Gray-2: #c1bbeb;
$Gray-3: #a098ae;

// Transparent Color
$Purple-10: rgba(77, 68, 181, 0.1);

// Gradient Color
$Linear-1: linear-gradient(180deg, #fb7d5b -242.86%, rgba(251, 125, 91, 0) 100%);
$Linear-2: linear-gradient(180deg, #fcc43e -241.95%, rgba(252, 196, 62, 0) 100%);
$Linear-3: linear-gradient(179deg, #4d44b5 -47.98%, #303972 163.51%);

// Shadow
$Shadow: 0px 20px 50px 0px rgba(191, 21, 108, 0.05);

// Font
$font-primary: 'Poppins', sans-serif;
$font-heading: 700;
$font-semibold: 600;
$font-medium: 500;
$font-regular: 400;
$text-xs: 12px;
$text-sm: 14px;
$text-md: 16px;
$text-base: 18px;
$text-lg: 20px;
$text-xl: 24px;
$text-2xl: 28px;
$text-3xl: 32px;
$text-4xl: 36px;

// Unit
$sidebar-width: 345px;
